@charset "ISO-8859-1";

h1 {
	display: block;
	text-align: center;
	font-size: 55px;
	/*margin top, right, bottom, left*/
	margin: 0.67em 0 0.67em 0;
	font-weight: bold;
}

.special {
	color: white;
}

.special2 {
	color: black;
	text-align: center;
}

h2 {
	display: block;
	text-align: justify;
	font-size: 40px;
	/*margin top, right, bottom, left*/
	margin: 0.67em 0 0.67em 0;
}

p {
	display: block;
	font-size: 25px;
	/*margin top, right, bottom, left*/
	margin: 0.67em 0 0.67em 0;
}

.createForm {
	margin: 0 auto;
	width: 75%;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 1em;
	text-align: center;
	font-size: 25px;
}

.createForm li+li {
	margin-top: 1em;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.column {
	float: left;
	padding: 10px;
}

.left {
	width: 25%;
	z-index: 1;
	background-color: #c0c0c0;
	border: 1px solid #000000;
	border-radius: 5px;
	font-size: 25px;
	text-align: center;
}

.right {
	width: 70%;
	background: url("./images/auctions.jpg") center;
	background-size: cover;
	transition: all .5s;
}

input, textarea {
	width: 300px;
	font-size: 20px;
	border: 1px solid #000000;
}

textarea {
	height: 5em;
}

a:hover {
	background: #0080ff;
	color: white;
}

a {
	font-size: 25px;
	color: black;
}

input:invalid {
	border-color: #B3B3B3;
	border-radius: 5px;
}

.buttonForm {
	margin: 0 auto;
	text-align: center;
	font-size: 25px;
	width: 60%;
	height: 35px;
	border-radius: 5px;
}

button {
	font-size: 20px;
}

.tableArrangement {
	width: 95%;
	background-color: #ffffff;
	font-size: 25px;
	/*border: 1px solid #000000;*/
	border-collapse: collapse;
	text-align: center;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	table-layout: auto;
}

.tableArrangement tr:nth-child(even) td {
	background-color: #ececec;
}

.tableArrangement th {
	background-color: #c0c0c0;
}

.alertMessage {
	color: white;
}